.message {

}

.imageAndText {
    margin-bottom: 20px;
}

.imageAndText img {
    margin-bottom: 20px;
}

.text {

}

.text:after {

}

.name {
    margin-bottom: 20px;
}

.messageText {

}

.time {

}