.buttonsContainer {
}

.responseContainer {
    display: flex;
    align-items: center;
    gap: 100px;
}

.imageContainer {
}

.image {
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.code {
}

.text {
}

.info {
}