.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.backgroundInput{
    background-color: yellow;
}
.spanClassName{
    width: 100%;
    background-color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.buttonClassName{
    border-radius: 10px;
}


