.item {
}

.item:last-of-type {
}

.users {
    width: 100%;
}

.buttonsContainer {
    margin-bottom: 30px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: left;
}

.thead {
    color: #0059b2;
}

.nameCol {

}

.ageCol {

}