.App {
    --header_height: 60px;
    min-height: 100vh;
    text-align: center;
    background-color: #346745;
    color: #FFFFFF;
    font-family:  Montserrat;
    position: relative;
}

.hw {
    font-size: 30px;
    padding-bottom: 100px;
}

.hwTitle {
    font-size: 80px;
    padding-top: 100px;
    margin-bottom: 10px;
}

.container .hwTitle{
    text-align: left;
}