.friendMessage {

}

.friendImageAndText {
    margin-bottom: 20px;
}

.friendImageAndText img {
    margin-bottom: 20px;
}

.friendText {

}

.friendText:after {

}

.friendName {
    margin-bottom: 20px;
}

.friendMessageText {

}

.friendTime {

}
