.greetingForm {
    
}

.inputAndButtonContainer {
}

.error {
    color: red;

}

.input {
    color: #00cc22;
}

.input:focus {
}

.errorInput {
    color: red;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
